<h4 class="collapsable-trigger" data-collapsable-target="index.factorio.maps">Maps</h4>
<div class="collapsable-target" data-collapsable-id="index.factorio.maps">
    <p data-translate="index.factorio.maps.info"></p>
    <div class="map-form"></div>
</div>

<table class="table table-bordered table-striped factorio-maps-table">
    <thead>
    <tr>
        <th data-translate="factoriomaps.id.title"></th>
        <th data-translate="factoriomaps.active.title"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>